.flex-column{
  flex-direction: column;
}
.space-around{
  justify-content: space-around;
}
.flex-center{
  justify-content: center;
}
.d-flex{
  display: flex;
}
.m-auto{
  margin: auto;
}
.h-100vh{
  min-height: 100vh;
}
.bg-contain{
  background-size: contain;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
//register number
#phone-number.p-l-126, #inp-code.p-l-126{
  padding-left: 9rem;
}
.h-60pr{
  height: 60%;
}

//resend code
#message-container{
  background-image: url('../img/icons/message.png');
  background-position: 50% 5%;
  background-size: 50%;
}
#inp-code{
  background-image: url('../img/icons/lock.png');
}
#clock-icon{
  background-image: url('../img/icons/clock.png');
  padding: 0.3rem 1rem;
}
