#root{
  min-height: 100vh;
}

.flex-column{
  flex-direction: column;
}
.space-around{
  justify-content: space-around;
}
.m-auto{
  margin: auto;
}
#phone-number.p-l-126{
  padding-left: 9rem;
}
.h-60pr{
  height: 60%;
}
